.header {
  padding: 20px 0;
  position: absolute;
  z-index: 10;
  left: 50%;
  // top: 0;
  width: 100%;
  @include tr(-50%, 0, 0);
  // .header__container
  &__container {
  }
  // .header__row
  &__row {
    @include flexbox();
    justify-content: space-between;
    align-items: center;
  }
  // .header__column
  &__column {
  }
  // .header__logo
  &__logo {
    width: 249px;
    height: 70px;
    img {
      width: 100%;
      height: 100%;
    }
    img.logo2 {
      display: none;
    }
    @media (max-width: $md4+px) {
      img.logo1 {
        display: none;
      }
      img.logo2 {
        display: block;
      }
    }
  }
  // .header__phone
  &__phone {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: #000000;
    position: relative;
    @media (max-width: $md4+px) {
      display: none;
    }
    &::before {
      content: "";
      position: absolute;
      left: -51px;
      top: -5px;
      width: 40px;
      height: 40px;
      background: url("../img/phone.png") center no-repeat;
    }
  }
}

// =======================================================================================================
.menu__icon {
  display: none;
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  // padding: 6px 0px;
  z-index: 5;
  left: 20px;
  top: 12px;
  background-color: transparent;
  border-radius: 4px;
  @include anim(0.4s, 0s);
  z-index: 5;
  @media (max-width: $md2+px) {
    display: block;
  }
  &._active {
    left: 214px;
  }
}

.icon-menu__lines {
  // height: 21px;
  height: 38px;
  width: 40px;
  position: relative;
}

.menu__icon span.burger {
  transition: all 0.3s ease 0s;
  // top: calc(50% - 2px);
  right: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
  // width: 26px;
  width: 40px;
  // height: 3px;
  height: 5.5px;
  border-radius: 20px;
  background: #6aaf50;
}
.menu__icon span.middle {
  top: calc(50% - 2px);
  right: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
}
.menu__icon span:first-child {
  top: 0;
}

.menu__icon span:last-child {
  top: auto;
  bottom: 0;
}

.menu__icon._active span {
  transform: scale(0);
  background: #eb5757;
}

.menu__icon._active span:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 3px);
}

.menu__icon._active span:last-child {
  transform: rotate(45deg);
  bottom: calc(50% - 2px);
}
